.button{
    -fx-border-color: linear-gradient(#AC82FA, #FF0066);
    -fx-background-color: rgba(255,255,255,0.2);
    -fx-font-size: 20px;
    -fx-text-fill: #26d7ff;
}

.button:hover{
    -fx-background-color: rgba(255,255,255,0.5);
    }

.label{
    -fx-text-fill: #e88e27;
    -fx-font-size: 20px;
}
.root{
    -fx-background-color: #273447;
}
