
.text-area {
    -fx-background-color: rgba(45, 88, 158,0.2);
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.text-area {
    -fx-text-fill: #b8d86e;
}

.label{
    -fx-font-family: "Verdana";
}

#infolabel{
    -fx-font-size: 17px;
}

#pslabel{
    -fx-font-size: 18px;
    -fx-text-fill: #26d7ff;
}

.button{
    -fx-border-color: linear-gradient(#AC82FA, #FF0066);
    -fx-background-color: rgb(255,255,255,0.2);
    -fx-font-size: 30px;
    -fx-text-fill: #26d7ff;
}

.button:hover{
    -fx-background-color: rgb(255,255,255,0.5);
}

.progress-bar{
    -fx-accent: #e88e27;
    -fx-background-color:  transparent;
}

.progress-bar .track{
    -fx-background-insets: 0;
}

.progress-bar .bar{
    -fx-background-insets: 1 1 2 1;
    -fx-padding: 0.40em;
}

#stats{
    -fx-font-size: 18px;
}

