
#base{
-fx-background-image: url("space.jpg");
-fx-background-repeat: stretch;
-fx-background-size: 1200 800;
-fx-background-position: center center;
}

#gamebutton{
-fx-border-color: #e88e27;
-fx-background-color: rgb(255,255,255,0.2);
-fx-font-size: 30px;
-fx-text-fill: #e88e27;
}

#gamebutton:hover{
-fx-background-color: rgb(255,255,255,0.5);
}

#heading{
-fx-font-size: 50px;
-fx-text-fill: #e88e27;
}